.map-container {
  height: calc(100vh - 10rem);
  width: 100vw;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.tooltip-info {
  background-color: white;
  opacity: 1 !important;
}

.tooltip-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
